//flex layout for examples
  .row {
    display: flex;
    flex-wrap: nowrap;
  }
  .cell {
    flex: 1;
    border: 1px solid rgba(black, .12);
    padding: 8px;
    min-width: 145px;
    text-align: center;
  }

  .cell:first-child {
    text-align: left;
  }

  .cell:not(:last-child) {
      border-right: none;
    }

  .row:not(:last-child) >.cell {
    border-bottom: none;
  }
