.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.align-2 {text-align: right;}

td.mat-cell {
  padding: 16px 8px;
  white-space: nowrap;
}
th.mat-header-cell {
  padding: 8px;
}