<basic-layout>
	<div basic-layout-appbar>
		<!--button mat-icon-button>
      <mat-icon aria-label="menu button">menu</mat-icon>
    </button-->
		<span>Project Template</span>
	</div>
	<!-- basic layout content -->
	<div basic-layout-content>
		<h1>Angular Material Custom Template</h1>
		<p class="medium-emphasis-text">Starting point for an angular material project using custom color palette, fonts and semantic token values</p>
		<h2>Theme</h2>
		<app-theme-color-test></app-theme-color-test>
		<h2>Color palettes</h2>
		<app-color-palettes></app-color-palettes>

    <h2>Typography</h2>
    <app-typography-categories></app-typography-categories>

		<h2>Components</h2>
		<p class="medium-emphasis-text">This tests extended theme options to match MD spec update</p>
		<app-components-all></app-components-all>
    <h2>Buttons</h2>
    <app-buttons-example></app-buttons-example>

	</div>
</basic-layout>